$blueColor: #3992ff;
$darkFontColor: rgb(67, 76, 93);
$lightFontColor: rgb(161, 168, 180);
$lighterFontColor:rgb(181, 215, 255);
$hoverDarkFont: rgb(140, 152, 175);
$whiteColor: white;
$shadowColor: rgb(88, 91, 97);
$bgColor: rgb(237, 239, 241);
$lightestBlue:rgb(224, 234, 245);

$widthToMob: 1300px;

$borderRadiusBigBlock: 3rem;