<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/forgotPassword.css">
    <!-- END CSS -->
    <!-- JS -->
    <script defer src="/js/header-mobile.js"></script>
    <!-- END JS -->
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="logo">
                L2P.RU
            </h1>
            <nav class="not-display-mob">
                <ul>
                    <li>
                        <a href="/search">Поиск</a>
                    </li>
                    <li>
                        <a href="/login">Вход</a>
                    </li>
                    <li>
                        <a href="/registerStudent">Регистрация</a>
                    </li>
                </ul>
            </nav>
            <i class="fas fa-bars display-mob" id="burgerNav"></i>
            <i class="fas fa-times not-display-mob" id="closeNavMob"></i>
        </header>
        <section>
            <h2>Восстановление пароля</h2>
            <form action="">
                <label for="emailToRestore">Email</label>
                <input type="email" name="emailToRestore">
                <input type="submit" value="Восстановить пароль">
                <a href="/login">Назад ко входу</a>
            </form>
        </section>
    </div>
</body>

</html>