<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/reviews.css">
    <link rel="stylesheet" href="/css/mobileNavResponsivenessForLogged.css">
    <!-- END CSS -->
    <!-- JS -->
    <script defer src="/js/header-mobile.js"></script>
    <!-- END JS -->
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="logo">
                L2P.RU
            </h1>
            <nav class="not-display-mob nav-expanded">
                <ul>
                    <li>
                        <a href="/search">Поиск</a>
                    </li>
                    <li>
                        <a href="/login">Вход</a>
                    </li>
                    <li>
                        <a href="/registerStudent">Регистрация</a>
                    </li>
                    <li class="not-display-desktop not-display-unauthorized">
                        <h2>Уроки</h2>
                    </li>
                    <li class="not-display-desktop not-display-unauthorized"><a
                            href="/unscheduledHours">Незапланированные часы</a></li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/listView">Список</a></li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/calendarView">Календарь</a></li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/reviews">Отзывы</a></li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/history">История</a></li>
                    <li class="not-display-desktop not-display-unauthorized">
                        <h2>Настройки</h2>
                    </li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/userPageSettings">Профиль</a>
                    </li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/contacts">Контактная
                            информация</a></li>
                    <li class="not-display-desktop not-display-unauthorized not-display-student"><a
                            href="/pricing">Расценки</a></li>
                    <li class="not-display-desktop not-display-unauthorized not-display-student"><a
                            href="/availability">Доступность</a>
                    </li>
                    <li class="not-display-desktop not-display-unauthorized"><a href="/logout">Выход</a></li>
                </ul>
            </nav>
            <i class="fas fa-bars display-mob" id="burgerNav"></i>
            <i class="fas fa-times not-display-mob" id="closeNavMob"></i>
        </header>
        <main>
            <aside>
                <ul>
                    <h2>Уроки</h2>
                    <li><a href="/unscheduledHours">Незапланированные часы</a></li>
                    <li><a href="/listView">Список</a></li>
                    <li><a href="/calendarView">Календарь</a></li>
                    <li><a href="/reviews">Отзывы</a></li>
                    <li><a href="/history">История</a></li>
                    <h2>Настройки</h2>
                    <li><a href="/userPageSettings">Профиль</a></li>
                    <li><a href="/contacts">Контактная информация</a></li>
                    <li class="not-display-student"><a href="/pricing">Расценки</a></li>
                    <li class="not-display-student"><a href="/availability">Доступность</a></li>
                    <li><a href="/logout">Выход</a></li>
                </ul>
            </aside>
            <section>
                <h2>
                    Отзывы
                </h2>
                <div class="review-box-unit underlined">
                    <img src="/img/avatar-test-history.jpg" class="avatar-review" alt="lena-avatar">
                    <div class="review-box-info">
                        <p class="review-name">Елена 'Пупс' Коннова</p>
                        <div class="review-stars">
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box half-star">
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="star-box empty-star">
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <p>Отзыв оставлен: 25.02.2021 в 18:09</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare
                            turpis est, id interdum
                            erat fermentum ac. Curabitur viverra mauris in porta egestas. Sed at lacus eleifend,
                            eleifend risus vel, faucibus quam. Sed consectetur est ut faucibus laoreet. Mauris
                            sollicitudin sollicitudin vestibulum. Nullam vel ornare nunc. Pellentesque habitant morbi
                            tristique senectus et netus et malesuada fames ac turpis egestas. Aenean gravida suscipit
                            ultricies. Nullam bibendum efficitur convallis. </p>
                    </div>
                </div>
                <div class="review-box-unit underlined">
                    <img src="/img/avatar-test-history.jpg" class="avatar-review" alt="lena-avatar">
                    <div class="review-box-info">
                        <p class="review-name">Елена 'Пупс' Коннова</p>
                        <div class="review-stars">
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box half-star">
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="star-box empty-star">
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <p>Отзыв оставлен: 25.02.2021 в 18:09</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare
                            turpis est, id interdum
                            erat fermentum ac. Curabitur viverra mauris in porta egestas. Sed at lacus eleifend,
                            eleifend risus vel, faucibus quam. Sed consectetur est ut faucibus laoreet. Mauris
                            sollicitudin sollicitudin vestibulum. Nullam vel ornare nunc. Pellentesque habitant morbi
                            tristique senectus et netus et malesuada fames ac turpis egestas. Aenean gravida suscipit
                            ultricies. Nullam bibendum efficitur convallis. </p>
                    </div>
                </div>
                <div class="review-box-unit">
                    <img src="/img/avatar-test-history.jpg" class="avatar-review" alt="lena-avatar">
                    <div class="review-box-info">
                        <p class="review-name">Елена 'Пупс' Коннова</p>
                        <div class="review-stars">
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box full-star">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="star-box half-star">
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="star-box empty-star">
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <p>Отзыв оставлен: 25.02.2021 в 18:09</p>
                        <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare
                            turpis est, id interdum
                            erat fermentum ac. Curabitur viverra mauris in porta egestas. Sed at lacus eleifend,
                            eleifend risus vel, faucibus quam. Sed consectetur est ut faucibus laoreet. Mauris
                            sollicitudin sollicitudin vestibulum. Nullam vel ornare nunc. Pellentesque habitant morbi
                            tristique senectus et netus et malesuada fames ac turpis egestas. Aenean gravida suscipit
                            ultricies. Nullam bibendum efficitur convallis. </p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>